@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --roboto-gray: #9C9C9D;
  --roboto-secondary-gray: #737373;
  --roboto-background: #d2d6db1A;
  --roboto-secondary-background: #f5f2ec;
  --roboto-secondary-dark-background: #f6efe2
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-roboto-gray: var(--roboto-gray);
  --color-roboto-secondary-gray: var(--roboto-secondary-gray);
  --color-roboto-background: var(--roboto-background);
  --color-roboto-secondary-background: var(--roboto-secondary-background);
  --color-roboto-secondary-dark-background: var(--roboto-secondary-dark-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-eb-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f9f7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-eb-garamond), serif;
}